nav {
  background-color: rgba(150,75,0,0.7);

  #navbarNav {

    ul li {
      margin-left: 17%;

      .sign_out {
        font-size: 1.3em;
      }
    }

    a {
      color: white;
    }

    .dropdown-item {
    	color: black;
    }
  }
}
