<section class="new_sale text-center">
    <%= form_for pucharse do |f| %>
      <section class="card">
        <section class="card-header">
          Dados da compra no mercado
        </section>

        <section class="card-body">
          <section class="row">
            <section class="col-6 form-group">
              Descrição da compra* <br />
              <%= f.text_area :name, class: 'form-control', required: true %>
            </section>

            <section class="col-6 form-group">
              Preço total da compra* <br />
              <%= f.number_field :price, step: :any, class: 'form-control', placeholder: 'R$', required: true %>
            </section>
          </section>

          <%= f.submit 'Salvar', class: 'btn btn-primary save' %>
        </section>
      </section>
    <% end %>
</section>
