/*
*= require select2
*= require select2-bootstrap
*/

@import "bootstrap";
@import "font-awesome";
@import 'morrisjs-rails';

@import 'devise';
@import 'sales';
@import 'categories';
@import 'shared/navbar';
@import 'requests';


.navbar-toggler {
	background-color: rgba(240,240,240,0.7);
	box-shadow: -2px 2px 10px rgba(240,240,240,0.7);

	i {
		color: white;
	}
}

.container {
  box-shadow: -2px 2px 10px rgba(240,240,240,0.8);
  padding: 40px;

  .table {
    margin-top: 30px;
  }
}

.alert {
	position: absolute;
}

@media (max-width: 991.98px) {
	#navbarNav ul li {
		margin-right: 50px;
		border-bottom: 1px solid rgba(200,200,200,0.5);
		padding: 10px;
	}

	table {
	  display: block;
	  position: relative;
	  width: 100%;

	  thead, tbody, tr, th, td {
	  	width: 100%;
	  	display: block;
	  }

	  tr {
	  	border: 2px solid rgba(33, 37, 41,0.6);
	  }
	}
}