// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_sale_btn {
  box-shadow: -5px 5px 15px rgba(10,10,10,0.3);
  padding: 20px;
  width: 75px;
  border-radius: 100%;
}
