// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-aspects {
	a {
		padding: 10px;
		margin: 10px;
		font-size: 1.3em;
		box-shadow: -2px 2px 5px rgba(10,10,10,0.5);
		border-radius: 5px;
	}

	a:hover {
		text-decoration: none;
	}
}