<section class="graphs text-center">
	<section class="page-header border-bottom">
		<h3>Gráfico de Rendimento mensal</h3>
	</section>

	<!-- <%= content_tag :div, "", id: "requests_chart", data: {requests: requests_chart_data} %> -->

	<div id="bar-example"></div>

	<br /><br />

	<section class="page-header border-bottom">
		<h3>Métodos de Pagamento mais utilizados</h3>
	</section>

	<%= content_tag :div, "", id: "payment_chart", data: {requests: payment_data} %>

	<br />

	<%= link_to 'Voltar', root_path, class: 'btn btn-warning' %>
</section>